# Build artifacts
*.snap
*.flatpak
*.log
dist/
build/
parts/
stage/
prime/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# Virtual env
venv/
env/
.env
*.env

# Snapcraft
snap/local/
.snap/

# Temporary
*_backup.png
*_original.png
*_clean.png
capture-*.flatpak
repo/
flatpak-builder-tools/
